$color-blue: #4d4dff;
$color-white: #ffffff;
$color-yellow: #ffcc00;
$color-black: #000000;
$color-grey: #a6a6a6;

.yellow {
    color: $color-yellow;
}
.black {
    color: $color-black;
}

.large {
    font-size: 18px;
}

.small {
    font-size: 13px;
}

.pointer {
    cursor: pointer;
}