.hotel {
    color: $color-blue;
    font-size: 16px;
    .title {
        font-weight: bolder;
        font-size: 18px;
    }
    .panel-filter {
        border: 1px solid $color-grey;
        box-shadow: 1px 1px 1px 1px #d9d9d9;
    }
    .filter-price-area {
        position: relative;
        height: 50px;
        input {
            pointer-events: none;
            position: absolute;
            overflow: hidden;
            left: 0;
            top: 15px;
            outline: none;
            height: 18px;
            margin: 0;
            padding: 0;
            &::-webkit-slider-thumb {
                pointer-events: all;
                position: relative;
                z-index: 1;
                outline: 0;
            }
            &::-moz-range-thumb {
                pointer-events: all;
                position: relative;
                z-index: 10;
                -moz-appearance: none;
                width: 9px;
            }
            &::-moz-range-track {
                position: relative;
                z-index: -1;
                background-color: rgba(0, 0, 0, 1);
                border: 0;
            }
            &:last-of-type::-moz-range-track {
                -moz-appearance: none;
                background: none transparent;
                border: 0;
            }
            &[type=range]::-moz-focus-outer {
                border: 0;
            }
        }
    }
}