<div class="room">
    <div>
        <SearchComponent />
    </div>
    <div class="py-5 pl-3 pr-2 pl-xl-5 pr-xl-4">
        <div class="d-flex flex-row">
            <div class="large font-weight-bold mr-3">Khách sạn {{hotel.name}}</div>
            <div><i class="fas fa-star yellow" v-for="s in hotel.star"></i></div>
        </div>
        <div class="my-3 row">
            <div class="col-7 container-fluid p-1">
                <img :src="imgSelected" class="img-fluid w-100 h-100 rounded" id="mainImg">
            </div>
            <div class="col-5 d-flex flex-row flex-wrap">
                <div v-for="(img, index) in allImg" class="text-center w-50 p-1">
                    <img :src="img" :class="['rounded h-100 w-100 pointer option-img', index === indexActiveImg ? 'active-img': '']" 
                        @click="onClickImg(img, index)">
                </div>
            </div>
        </div>
        <div>
            <div class="row mb-5 text-left" v-for="(room, index) in hotel.rooms">
                <div class="col-7 col-md-9 d-flex flex-grow-0 flex-md-grow-1 flex-column">
                    <div class="font-weight-bold mb-2 text-nowrap">
                        {{room.name}}
                    </div>
                    <div class="d-flex flex-row">
                        <div class="mr-5 d-none d-lg-block">
                            <b-img :src="room.srcImg" fluid :alt="'Room Image ' + index"></b-img>
                        </div>
                        <div class="row w-100">
                            <div class="col-7 col-md-6 pl-5">
                                <div class="font-weight-bold text-nowrap">Miễn phí</div>
                                <div v-for="freeService in room.freeServices" class="black small text-nowrap">
                                    - {{freeService}}
                                </div>
                            </div>
                            <div class="col-5 col-md-6 d-none d-md-block">
                                <div class="font-weight-bold text-nowrap">Sức chứa</div>
                                <div v-for="capInfo in room.capacity" class="black small text-nowrap">
                                    - {{capInfo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 col-md-3 text-right d-flex flex-column align-items-end pr-4">
                    <div class="yellow font-weight-bold large">{{room.price | number-masked}}đ</div>
                    <div>/đêm</div>
                    <div class="mt-auto">
                        <b-button variant="primary" @click="onClickBookRoom(room.id)">Đặt phòng</b-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>