<div class="hotel">
    <div>
        <SearchComponent heightImg="300"/>
    </div>
    <div class="row text-left">
        <div class="col-3">
            <div>
                <div>Theo mức giá</div>
                <div class="d-flex justify-content-between">
                    <div>0đ</div>
                    <div>5.000.000đ</div>
                </div>
                <b-form-input type="range"></b-form-input>
                <b-form-checkbox>Đang giảm giá</b-form-checkbox>
            </div>
            <div>
                <div>Theo tiêu chuẩn sao</div>
                <b-form-group stacked>
                    <b-form-checkbox>
                        <i class="fas fa-star"></i>
                    </b-form-checkbox>
                    <b-form-checkbox>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </b-form-checkbox>
                    <b-form-checkbox>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </b-form-checkbox>
                    <b-form-checkbox>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </b-form-checkbox>
                    <b-form-checkbox>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </b-form-checkbox>
                </b-form-group>
            </div>
            <div>
                <div>Dịch vụ miễn phí</div>
                <b-form-group stacked>

                </b-form-group>
            </div>
            <div>
                <div>Các tiện ích</div>
                <b-form-group stacked>

                </b-form-group>
            </div>
        </div>
        <div class="col-9 text-left">
            <div class="d-flex justify-content-start">
                <div>Sắp xếp theo</div>
                <div class="mx-5">Tiêu chuẩn sao <i class="fas fa-caret-up"></i></div>
                <div>Giá phòng <i class="fas fa-caret-down"></i></div>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>