.booking ::v-deep {
    color: $color-blue;
    .title {
        font-weight: bolder;
        font-size: 20px;
    }
}

.header-pannel {
    position: relative;
    .close-icon {
        position: absolute;
        right: 0;
        top: -10px;
        color: $color-black;
        cursor: pointer;
    }
}
