.room {
    color: $color-blue;
    img {
        width: 300px;
        height: 200px;
    }

    @keyframes zoominoutsinglefeatured {
        0% {
            transform: scale(1,1);
        }
        50% {
            transform: scale(1.2,1.2);
        }
        100% {
            transform: scale(1,1);
        }
    }

    .main-img {
        animation: zoominoutsinglefeatured 3s ;
    }
}